$title_font: 'Open Sans', sans-serif;
$body_font: 'Raleway', sans-serif;
$bodyBackground: #FAFAFA;
$primaryColor: #00796b;
$secondaryColor: #C5E26A;
$lightGray: mix($primaryColor, #fafafa, 10%);
$darkGray: mix($primaryColor, #424242, 10%);
$bgDefault      : lighten($lightGray, 10%);
$bgHighlight    : #efdfff;
$colDefault     : $primaryColor;
$colHighlight   : darken($colDefault, 15%);
