<% @user.messages.each do |message| %>
  <% if @messager.messages.include?(message) %>
    <li <% if message.sender_id == @user.id %> class="user-message" <% else %> class="receiver-message" <% end %>> <%= message.content %></li>
  <% end %>
<% end %>
