<nav>
  <div class="nav-wrapper">
    <a href="/home" class="brand-logo"><img class="brand-logo" src="img/logo.png" alt=""></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <form class="hide-on-med-and-down" action="/search" method="get">
        <div class="input-field">
          <input id="search" type="search" name="query" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    <ul class="right hide-on-med-and-down">
      <li><a href="/home">Home</a></li>
      <li><a href="/messages">Messages</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="dropdown1"><%= User.find(session[:id]).user_name %><i class="material-icons right">arrow_drop_down</i></a></li>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/teams">Teams</a></li>
        <li><a href="/user/<% session[:id] %>">user</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/messages">Messages</a></li>
      <li><a href="/teams">Teams</a></li>
      <li><a href="/user/<% session[:id] %>">Profile</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </div>
</nav>
<form class="hide-on-large-only" action="/search" method="get">
  <div class="input-field">
    <input id="search2" name="query" type="search" required>
    <label class="no-move" for="search"><i class="material-icons">search</i></label>
    <i class="material-icons">close</i>
  </div>
</form>
