<div class="container content">
      <div class="row">
        <div class="col m4 l3">
          <div class="card">
            <h5>Left sidebar</h5>
            <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast pour-over. Irony tilde retro, messenger bag hammock gluten-free seitan +1 intelligentsia literally. Chicharrones ramps forage, vegan tousled wayfarers franzen. Biodiesel heirloom migas umami cold-pressed</p>
          </div>
        </div>
        <div class="col m8 l7">
          <div class="card">
            <h5>Content panel</h5>
              <pre><code>&#60;div class="col-md-7 col-sm-9 content"&#62;<br>  &#60;div class="panel"&#62;<br>    &#60;h5&#62;Content panel &#60;/h5&#62;<br>    &#60;p&#62;&#60;/p&#62;<br>  &#60;/div&#62;<br>&#60;/div&#62;</code></pre>
          </div>
          <div class="card">
            <h5>Content panel</h5>
            <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast pour-over. Irony tilde retro, messenger bag hammock gluten-free seitan +1 intelligentsia literally. Chicharrones ramps forage, vegan tousled wayfarers franzen.</p>
          </div>
        </div>
        <div class="col l2 hide-on-med-and-down">
          <div class="card">
            <h5>Right sidebar</h5>
            <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast.</p>
          </div>
          <div class="card">
            <h5>Right sidebar</h5>
            <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast.</p>
          </div>
        </div>
      </div>
    </div>
