<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/js/bin/materialize.min.js"></script>
    <script src="/js/scripts.js">

    </script>
    <title>Sign Up - Codevelop</title>
  </head>

<!-- is container working properly? -->

  <body>
    <header>
      <% if authenticated? %>
        <%= erb :header %>
      <% else %>
        <%= erb :sign_up_header %>
      <% end %>
    </header>
    <%= yield %>
    <script type="text/javascript">
    $(function(){
      $('select').material_select();
      $('#textarea1').trigger('autoresize');
      $('input.autocomplete').autocomplete({
        data: {
          <% User.all.each do |user| %>
            <% if user.id != session[:id] %>
              "<%= user.email %>": "http://placehold.it/40x40",
            <% end %>
          <% end %>
        }
      });
    });
    </script>
  </body>
</html>
