<form action="/message" method="post" style="margin-top:50px;">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">textsms</i>
      <input type="text" name="receiver_id" id="autocomplete-input" class="autocomplete" autocomplete="off">
      <label for="autocomplete-input">Recipient</label>
    </div>
    <div class="input-field col s12">
      <textarea id="textarea1" name="content" class="materialize-textarea"></textarea>
      <label for="textarea1">Textarea</label>
    </div>
  </div>
  <button class="waves-effect waves-light btn" type="submit" name="button"><i class="fa fa-paper-plane fa-lg"></i>    Submit</button>
</form>
