<% @user.messages.each do |message| %>
  <li <% if User.find(message.sender_id).user_name != @user.user_name %> class="user-message" <% else %> class="receiver-message"<% end %>><%= User.find(message.sender_id).user_name %>: <%= message.content %></li>
<% end %>
