<div class="row">
  <div id="sign-up-form" class="col s4 offset-s4 card">
    <h3 class="center-text">Sign-in</h3>
    <form action="/sign_in" method="post">
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix small">account_circle</i>
          <input id="username" name="username" type="text" class="validate">
          <label for="username">Email/Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix small">lock</i>
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light secondary-color" type="submit" name="submit">OK</button>
    </form><br>
    <a href="/newuser">New to Codevelop? Create an account!</a>
  </div>
</div>
