<div class="row">
  <div id="sign-up-form" class="col s4 offset-s4 card">
    <h3 class="center-text">Join Codevelop</h3>
      <form action="/sign_up" method="post">
        <div class="row">
          <div class="col s10">
            <div class="input-field">
              <i class="material-icons prefix small">account_circle</i>
              <input id="user_name" name="user_name" type="text" class="validate" value="<%= @user_name %>" required>
              <label for="user_name">Username</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix small">email</i>
              <input id="email" name="email" type="text" class="validate" value="<%= @email %>" required>
              <label for="email">Email</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix small">lock_open</i>
              <input id="password1" name="password1" type="password" class="validate" required>
              <label for="password1">Password</label>
            </div>
            <input type="hidden" name="profile_picture" value="<% @profile_picture %>">
            <button class="btn waves-effect waves-light secondary-color" type="submit" name="create">Join</button>
          </div>
        </div>
      </form>
    <% if !errors.nil? %>
    <div class="clearfix"></div>
      <p class="error"><%= errors %></p>
      <% session[:errors] = nil %>
    <% end %>
  </div>
</div>
