<div class="row">
  <div id="sign-up-form" class="col s4 offset-s4 card">
    <h3 class="center-text">Sign-in</h3>
    <form action="/sign_in" method="post">
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix small">account_circle</i>
          <input id="username" name="username" type="text" class="validate" required>
          <label for="username">Email/Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix small">lock</i>
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light secondary-color" type="submit" name="submit">OK</button>
    </form><br>
    <p>New to Codevelop? <a href="/sign_up">Create an account!</a></p>
    <% if !errors.nil? %>
    <div class="clearfix"></div>
    <p class="error"><%= errors %></p>
      <% session[:errors] = nil %>
    <% end %>
  </div>
</div>
