<div class="row">
      <div id="sign-up-form" class="col s4 offset-s4 card">
        <h3 class="center-text">Join Codevelop</h3>
        <div class="col s8">
          <form action="" method="post">
            <div class="row">
              <div class="input-field">
                <i class="material-icons prefix small">account_circle</i>
                <input id="user" name="user"type="text" class="validate">
                <label for="user">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <i class="material-icons prefix small">email</i>
                <input id="email" name="email"type="text" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <i class="material-icons prefix small">lock_open</i>
                <input id="password" name="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <i class="material-icons prefix small">lock_outline</i>
                <input id="password" type="password" class="validate">
                <label for="password">Confirm Password</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light secondary-color" type="submit" name="create">Join</button>
          </form><br>
        </div>
        <div class="col s4">
          <p class="text-muted">Forage fashion axe seitan, pug cliche dreamcatcher offal.</p>
        </div>
      </div>
    </div>
