<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><i class="fa fa-connectdevelop fa-2x"></i><i class="fa fa-copyright fa-2x"></i></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <form class="hide-on-med-and-down" action="/search">
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    <ul class="right hide-on-med-and-down">
      <li class="sign-in"><a href="/sign_in">Sign-in<i class="material-icons right">input</i></a></li>
      <li class="sign-up"><a href="/sign_up">Sign-up<i class="fa fa-user-plus fa-lg right"></i></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/sign_in">Sign-in<i class="material-icons right">input</i></a></li>
      <li><a href="/sign_up">Sign-up<i class="fa fa-user-plus fa-lg right"></i></a></li>
    </ul>
  </div>
</nav>
<form class="hide-on-large-only" action="/search">
  <div class="input-field">
    <input id="search2" type="search" required>
    <label class="no-move" for="search"><i class="material-icons">search</i></label>
    <i class="material-icons">close</i>
  </div>
</form>
