<div class="container content">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <img id="team_pic" src="img/CODEVELOP.png" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m4 l3">
      <div class="card">
        <h5>Project Title</h5>
        <h6>Members:</h6>
        <h6>Bio:</h6>
        <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast pour-over. Irony tilde retro, messenger bag hammock gluten-free seitan +1 intelligentsia literally. Chicharrones ramps forage, vegan tousled wayfarers franzen. Biodiesel heirloom migas umami cold-pressed</p>
      </div>
    </div>
    <div class="col m8 l7">
      <div class="card">
        <h5>Agenda</h5>
          <pre><code>&#60;div class="col-md-7 col-sm-9 content"&#62;<br>  &#60;div class="panel"&#62;<br>    &#60;h5&#62;Content panel &#60;/h5&#62;<br>    &#60;p&#62;&#60;/p&#62;<br>  &#60;/div&#62;<br>&#60;/div&#62;</code></pre>
      </div>
      <div class="card">
        <h5>Github integration</h5>
        <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast pour-over. Irony tilde retro, messenger bag hammock gluten-free seitan +1 intelligentsia literally. Chicharrones ramps forage, vegan tousled wayfarers franzen.</p>
      </div>
      <div class="card">
        <h5>Communication</h5>
        <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast pour-over. Irony tilde retro, messenger bag hammock gluten-free seitan +1 intelligentsia literally. Chicharrones ramps forage, vegan tousled wayfarers franzen.</p>
      </div>
    </div>
    <div class="col l2 hide-on-med-and-down">
      <div class="card">
        <h5>Online</h5>
        <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast. Kogi cray selfies vegan 8-bit pok pok. YOLO umami polaroid typewriter 90's, pug beard hella flexitarian gentrify enamel pin truffaut viral wolf. </p>
      </div>
    </div>
  </div>
</div>
