html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Raleway", sans-serif;
  color: #333;
  background-color: #FAFAFA; }
  body::after {
    clear: both;
    content: "";
    display: block; }

nav {
  background-color: #fff;
  border-color: #efdfff; }
  nav .brand-logo, nav ul a {
    color: #00695c; }
  nav a {
    color: #00695c; }

  @media screen and (min-width: 992px) {
    nav form {
      width: 50%;
      display: inline-block;
      position: absolute;
      left: 30%;
      transform: translate(-30%, 0); } }
  nav .input-field label i {
    color: #00695c; }
  nav .input-field input {
    border: 1px solid #ddd;
    height: 65%; }

.input-field:first-of-type {
  margin-top: 0; }

.brand-logo {
  position: relative;
  width: 56px;
  height: 48px;
  left: 15px;
  padding: 0 15px; }
  .brand-logo .fa-copyright {
    position: absolute;
    left: 9px; }
  @media screen and (min-width: 767px) {
    .brand-logo {
      top: 2px; } }

.dropdown-content li > a {
  color: #00695c; }

input[type='search'] {
  border: 1px solid #ddd; }
  @media screen and (min-width: 992px) {
    input[type='search'] {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); } }

.card {
  padding: 20px; }

@media only screen and (min-width: 993px) {
  .container {
    width: 90%; } }

.content {
  margin-top: 50px; }

.center-text {
  text-align: center;
  margin-bottom: 30px;
  color: #9E9E9E;
}

#sign-up-form {
  margin-top: 75px;
  padding: 20px;
}

/* override materialize label focus color */
  .input-field input[type=text]:focus + label, input[type="password"]:focus:not([readonly]) + label {
    color: #4B484F;
}
/* override materialize label underline focus color */
  .input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #4B484F;
    box-shadow: 0 1px 0 0 #4B484F;
  }

/* override materialize label icon prefix color */
  .input-field .prefix.active {
    color: #4B484F;
  }

  .input-field .prefix {
    color: #9E9E9E;
  }


.secondary-color {
  background-color: #00695c !important;
}

.text-muted {
  color: #9E9E9E;
}

/* styling for  splash page */
/*navbar styling--------------------------------*/
#nav-img {
  height: 60px;
  width: 60px;
}

#logo-img {
  height: 25px;
  width: 25px;
}

/*profile Creat/edt styling--------------------------------*/
.prog-icon  {
font-size: 3rem;
}


/*profile styling--------------------------------*/
.profile-head {
  text-align: center;
}

.icons {
  display: inline-block;
  height: 35px;
  width: 35px;
}

.caption h5 {
    text-align:center;
    font-size: 15px;
}
.caption img {
    text-align:center;
}

legend {
  margin: 3px;
  text-align: center;
  width:100%
}

#all-followers {
  float: right;
  margin-right: -95px;
}

.followers img, figcaption {
  margin-right: 20px;
}

#follow {
  color: white;
  background-color: #9E7CC1;
  font-weight: bold;
}

#github {
  width: 700px;
  height: 450px;
}

.avatars li, .avatars .circle .plus{
  display: inline-block;
}
.avatars .circle, .plus {
  width: 50px;
  height: 50px;
}

.followers li, .followers .circle .plus{
  display: inline-block;
}
.followers .circle, .plus {
  width: 50px;
  height: 50px;
}



/*splash page styling--------------------------------*/

.signup-section {
  background: linear-gradient(#f1edf4, transparent 90%),
            linear-gradient(0deg, #fff, transparent),
            #f1edf4 url('../img/splash-background.jpg') no-repeat;
  background-position: fixed;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid #f1edf4;
}

.why-header {
  text-align: center;
}

.splash-form {
  font-weight: bold;
  width: 70%;
}

#new-user {
  margin-top: 20px;
}

.bottom-content {
  border-bottom: 2px solid #D7CCC8;
}

.bottom-content p {
  padding-right: 10px;
}

.intro-header p, .intro-header h2{
  margin-left: 40px;
  padding-bottom: 40px;
}


#bottom-button {
  text-align: center;
  padding-bottom: 30px;
}

footer.page-footer  {
  background-color: #4b484f;
}


.info-card  {
  text-align: center;
  color: #333;
}

.row .splash-form label {
  font-weight: bolder;
  color: black;
  font-size: 16px;
}

.header-content {
  text-align: center;
  margin-top: 50px;
}

.btn.btn-raised, .btn.btn-large, .btn, btn.span {
  background-color: #00695c;
  color: white;
}

/*splash page styling End--------------------------------*/

@media only screen and (min-width: 993px) {
  #team_pic {
    display: block;
    width: 50%;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1034px) {
  #team_pic {
    display: block;
    width: 75%;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 854px) {
  #team_pic {
    display: block;
    width: 75%;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 855px) {
  #team_pic {
    display: block;
    width: 100%;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  #team_pic {
    display: block;
    width: 100%;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
  }
}
#message-top {
  margin-top: 20px;
}
#inbox-list {
  height: 500px;
}

#message-center {
  height: 750px;
  overflow-y: scroll;
  margin-bottom: 0;
}

.collapsible-body {
  margin-top: 20px;
}

.fa-paper-plane {
  position: relative;
  left: -4px;
  top:-5px;
}

li {
  list-style: none;
}

.user-message {
  background-color: #00796b;
  color: #fff;
  margin-left: 60%;
  float: right;
  margin-top: 25px;
  padding: 10px 10px 0 15px;
  padding-right: 15px;
  border-radius: 20px;
  font-size: 18px;
  text-align: right;
  max-width: 40%;
  line-height: 40px;
}

.user-message:after {
  content: '';
  display: table;
  clear: both;
}

.receiver-message {
  background-color: #9E9E9E;
  margin-top: 25px;
  margin-right: 60%;
  max-width: 40%;
  float: left;
  color: #fff;
  padding: 10px 15px 0 10px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 40px;
}

.receiver-message:after {
  content: '';
  display: table;
  clear: both;
}

.message-load {
  color: #00796b;
}

.inbox-names {
  padding: 7px 0 7px 0;
}

.inbox-names:hover, .inbox-names.active  {
  background-color: #9E9E9E;
}

.inbox-names:hover a, .inbox-names.active a {
  color: #fff;
}

.underline {
  text-align: center;
  border-bottom: 2px solid #00796b;
  margin-bottom: 30px;
}

.create-team-header {
  text-align: center;
}

#team_logo {
  margin-left: 50px;
}

/*# sourceMappingURL=main.css.map */
.error {
  color: #f44336;
}

#sign-up-form h3 {
  color: #00695c;
}

.sign-up-buttons {
  text-align: center;
}

.sign-up-buttons i {
  position: relative;
  top: 10px;
  left: 10px;
  color: #9E9E9E;
  transition: color 0.5s ease;
}

.sign-up-buttons i:hover {
  color: #00695c;
}

.sign-up {
  background-color: #00695c;
}

.sign-up a{
  color:#fff;
  border-left: 1px solid #fff;
}

.sign-in a{
  border-left: solid 1px #00695c;
}

.online-users .card{
  height: 255px;
}

.online-users .card h6 {
  text-align: center;
}

.online-users .fa-user {
  float: left;
  position: relative;
  top: 3px;
}

.online-users .card p {
  margin: 0 0 0 15px;
}
