html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Raleway", sans-serif;
  color: #333;
  background-color: #FAFAFA; }
  body::after {
    clear: both;
    content: "";
    display: block; }

nav {
  background-color: #fff;
  border-color: #efdfff; }
  nav .brand-logo, nav ul a {
    color: #00695c; }
  nav a {
    color: #00695c; }

  @media screen and (min-width: 992px) {
    nav form {
      width: 50%;
      display: inline-block;
      position: absolute;
      left: 30%;
      transform: translate(-30%, 0); } }
  nav .input-field label i {
    color: #00695c; }
  nav .input-field input {
    border: 1px solid #ddd;
    height: 65%; }

.input-field:first-of-type {
  margin-top: 0; }
/*.input-field label.active {*/
  /*transform: translateY(0); }*/

.brand-logo {
  position: relative;
  width: 56px;
  height: 48px;
  left: 15px;
  padding: 0 15px; }
  .brand-logo .fa-copyright {
    position: absolute;
    left: 9px; }
  @media screen and (min-width: 767px) {
    .brand-logo {
      top: 2px; } }

.dropdown-content li > a {
  color: #00695c; }

input[type='search'] {
  border: 1px solid #ddd; }
  @media screen and (min-width: 992px) {
    input[type='search'] {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); } }

.card {
  padding: 20px; }

@media only screen and (min-width: 993px) {
  .container {
    width: 90%; } }

.content {
  margin-top: 50px; }

.center-text {
  text-align: center;
  margin-bottom: 30px;
  color: #9E9E9E;
}

#sign-up-form {
  margin-top: 75px;
  padding: 20px;
}

/* override materialize label focus color */
  .input-field input[type=text]:focus + label, input[type="password"]:focus:not([readonly]) + label {
    color: #4B484F;
}
/* override materialize label underline focus color */
  .input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #4B484F;
    box-shadow: 0 1px 0 0 #4B484F;
  }

/* override materialize label icon prefix color */
  .input-field .prefix.active {
    color: #4B484F;
  }

  .input-field .prefix {
    color: #9E9E9E;
  }


.secondary-color {
  background-color: #00695c !important;
}

.text-muted {
  color: #9E9E9E;
}

@media only screen and (min-width: 993px) {
  #team_pic {
    display: block;
    width: 50%;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1034px) {
  #team_pic {
    display: block;
    width: 75%;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 854px) {
  #team_pic {
    display: block;
    width: 75%;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 855px) {
  #team_pic {
    display: block;
    width: 100%;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  #team_pic {
    display: block;
    width: 100%;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
  }
}

.create-team-header {
  text-align: center;
}

#team_logo {
  margin-left: 50px;
}

/*# sourceMappingURL=main.css.map */
.error {
  color: #f44336;
}

#sign-up-form h3 {
  color: #00695c;
}

.sign-up-buttons {
  text-align: center;
}

.sign-up-buttons i {
  position: relative;
  top: 10px;
  left: 10px;
  color: #9E9E9E;
  transition: color 0.5s ease;
}

.sign-up-buttons i:hover {
  color: #00695c;
}

.sign-up {
  background-color: #00695c;
}

.sign-up a{
  color:#fff;
  border-left: 1px solid #fff;
}

.sign-in a{
  border-left: solid 1px #00695c;
}
